h3{
  /* font-family: Roboto; */
  font-size: 34px;
  font-weight: 400;
  line-height: 52px;
}

body{
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
}

#about-page{
  margin-left: 5%;
  margin-right: 5%;
}

#bios{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mdc-card__media--square{
  height: 300px;
  width: 300px;
}

.icon{
  width:40px;
  height:40px;
}

h5{
  font-family: Roboto;
  font-weight: normal;
  font-size: 24px;
}

h6{
  font-family: Roboto;
  font-weight: normal;
  font-size: 20px;
}

#about2, #login-link{
  color:white;
}


.accordion {
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.accordion:after {
  content: '\02795'; 
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; 
}


.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}



#drawer{
  display:none;
  top:10%;
  z-index: 10;
}



