h1 {
  position: absolute;
  top: 30%;
  left: 45%;
  text-align: center;
}

h2 {
  position: absolute;
  text-align: center;
  top: 40%;
  left: 20%;
}

#ps {
  position: absolute;
  text-align: center;
  top: 45%;
  left: 45%;
}

#recommended-orgs {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 15%;
}
