
#existing-organizations {
  transition: 0.3s;
  width: 600px;
  padding: 16px;
}

/* top navigation bar */
.mdc-top-app-bar{
  box-shadow: 0 2px 2px -2px rgba(0,0,0,1);
  position: relative;
  top: 0%;
}

/* cards for individual orgs */
.mdc-card{
  width: 500px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  padding: 16px;
  margin: 16px;
}

.mdc-card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#org-name{
  text-align: left;
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
color: rgba(0, 0, 0, 0.87);
mix-blend-mode: normal;
}

#about{
  text-align: left;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: rgba(0, 0, 0, 0.87);
  mix-blend-mode: normal;
}

#like-this{
  text-align: left;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.87);
  mix-blend-mode: normal;
}

/* search overlay effect */
.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 8;
  top: 0;
  left: 0;
}

.overlay-content {
  position: relative;
  top: 0%;
  left: 15%;
  width: 70%;
  text-align: center;
  margin-top: 30px;
  margin: auto;
}

.overlay .closebtn {
  position: absolute;
  top: 0%;
  right: 45px;
  font-size: 60px;
  cursor: pointer;
  color: white;
}

.overlay .closebtn:hover {
  color: #ccc;
}

.overlay input[type=text] {
  padding: 15px;
  font-size: 17px;
  border: none;
  float: left;
  width: 80%;
  background: white;
}

.overlay input[type=text]:hover {
  background: #f1f1f1;
}

.overlay button {
  display: none;
}

