.navbar {
  width: 100%;
  background-color: lightgrey;
  display: flex;
  justify-content: space-around;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 84px;
}

#search {
  position: absolute;
  top: 40%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

#search, #results-search input[type=text] {
  float:inherit;
  padding: 6px;
  border: 1px solid lightgrey;
  margin-top: 8px;
  font-size: 17px;
  vertical-align: center;
}

h1 {
  position: absolute;
  width: 519px;
  height: 84px;
  top: 30%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 84px;
  text-align: center;
  color: #000000;
}

#upload {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 42px;
  text-align: center;
}

#existing-organizations {
  list-style-type: none;
}

#pagination {
  display: none;
}
